<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="helper.mapper.TtNoticeMapper">

	<resultMap id="BaseResultMap" type="helper.entity.TtNotice">
		<id column="id" property="id" />
		<result column="from_user_id" property="fromUserId" />
		<result column="to_user_id" property="toUserId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="is_read" property="isRead" />
		<result column="create_by" property="createBy" />
		<result column="create_by_name" property="createByName" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_by_name" property="updateByName" />
		<result column="update_time" property="updateTime" />
		<result column="is_delete" property="isDelete" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, from_user_id AS fromUserId, to_user_id AS toUserId, title, content, is_read AS isRead, create_by AS createBy, create_by_name AS createByName, create_time AS createTime, update_by AS updateBy, update_by_name AS updateByName, update_time AS updateTime, is_delete AS isDelete
    </sql>

</mapper>
